/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
	display:block
}
mark, rp, rt, ruby, summary, time {
	display:inline
}
/* Global properties ======================================================== */
html {
	width:100%
}
body {
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:100%;
	/*color:#808080;*/
	color:#666666;
	min-width:980px;
	/*background:#004080;*/
        background:#C63F31;
        /*background: url('../../images/front/bg.jpg');*/
}
.ic, .ic a {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}
.main {
	width:980px;
/*	padding:10px 0 0 0;*/
	margin:0 auto;
	font-size:0.875em;
	line-height:1.428em;
	min-height: 150px;
}
a {
	color:#159FC1;
	outline:none;
        text-decoration:none;
}
a:hover {
	text-decoration:none;
        color: #F9DF1B;
}
.small{
    font-size: 12px;
}
.col-1, .col-2, .col-3, .col-4 {
	float:left
}
.col-1{
    margin-top: 5px;
    min-height: 500px;
    background: url("../../images/front/left_menu_bg.png") no-repeat scroll 0% 0% transparent;
}

.fcol-1, .fcol-2, .fcol-3 {
	float:left
}
.fcol-1 {
	width:300px;
	margin-right:45px
}
.fcol-2 {
	width:290px;
	margin-right:45px
}
.fcol-3 {
	width:300px
}
.wrapper {
        width:100%;
	overflow:hidden
}
.extra-wrap {
	overflow:hidden
}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
p {
	margin-bottom:18px
}
.p1 {
	margin-bottom:12px;
        overflow: hidden;
}
.p2 {
	margin-bottom:15px
}
.p3 {
	margin-bottom:30px
}
.p4 {
	margin-bottom:40px
}
.p5 {
	margin-bottom:50px
}
.reg {
	text-transform:uppercase
}
.fleft {
	float:left
}
.fright {
	float:right
}
.alignright {
	text-align:right
}
a.yellow{
	color: #ffffff;
}
a:hover {
	color:#FFE400;
}
.aligncenter {
	text-align:center
}
.it {
	font-style:italic
}
.color-1 {
	color:#fff
}
.color-2 {
	color:#000
}
.color-3 {
	color:#666
}
/*********************************boxes**********************************/
.indent-top {
	padding-top:10px
}
.indent-left {
	padding-left:20px
}
.indent-left2 {
	padding-left:30px
}
.indent-right {
	padding-right:50px
}
.indent-bot {
	margin-bottom:20px
}
.indent-bot2 {
	margin-bottom:30px
}
.indent-bot3 {
	margin-bottom:45px
}
.prev-indent-bot {
	margin-bottom:10px
}
.img-indent-bot {
	margin-bottom:25px;
        overflow:hidden;
        padding-bottom: 10px;
}
.margin-bot {
	margin-bottom:10px
}
.img-indent {
	float:left;
	margin:0 20px 0px 0
}
.img-indent2 {
	float:left;
	margin:0 13px 0px 0
}
.img-indent-r {
	float:right;
	margin:0 0px 0px 40px
}
.img-border {
	float:left;
	padding:5px;
	background:#fff;
	box-shadow: 0px 0px 2px #ebecee;
	border-radius:8px;
	margin-top:2px;
	margin-bottom:2px;
}
.buttons a:hover {
	cursor:pointer
}
.menu ul li a, .list-1 li a, .list-2 li a.item, .list-services li a, .link, .button, .button2, h1 a {
	text-decoration:none
}
/*********************************header*************************************/
header {
	width:100%;
	min-height:116px;
        
}

header .main{
	background:url(../../images/front/top.png) 0 0 no-repeat;
        
}
#page1 header {
	min-height:190px
}
h1 {
	position:relative;
	float:left;
}
h1.logo_th {
	display:block;
	margin-top: 10px;
	width:450px;
	height:105px;
	font-size:44px;
	font-weight:bold;
	line-height:2.2em;
	text-indent:-9999px;
	background:url(../../images/front/gspa_logo_th.png) 0 0 no-repeat;
	
}
h1.logo_en {
	display:block;
	margin-top: 10px;
	width:450px;
	height:105px;
	font-size:44px;
	font-weight:bold;
	line-height:2.2em;
	text-indent:-9999px;
	background:url(../../images/front/gspa_logo_en.png) 0 0 no-repeat;
	
}
.logo2{
float:right;
width:52px;
height:80px;
margin-top:50px;
}
/***** menu *****/

.menu:after,
.menu ul:after {
  content: '';
  display: block;
  clear: both;
}
.menu ul {
/*background: url("../../images/front/menu_bar.png") no-repeat scroll 0% 0% transparent;*/
	background: #F6877B;
	border-radius: 5px;
        width: 978px;    
}
.menu ul {
        position:absolute;
        list-style: none;
	padding:0px 0 0px 0;
	float:left;
        z-index: 99;
}
.menu ul li {
	float:left;
	position:relative;
        display:inline-block;
	/*background:url(../../images/front/menu-spacer.gif) left top no-repeat;*/
}
.menu ul li:first-child {
	background:none
}
.menu ul li a {
	display:inline-block;
        font-family:Tahoma, Arial, Helvetica, sans-serif;
/*        font-size:16px;*/
        font-weight: bold;
	line-height:1.6em;
	padding:5px 15px 10px 15px;
	color:#fff;
}
.menu ul li:first-child{
    margin-left: 10px;
}
.menu ul li ul li:first-child{
    margin-left: 0px;
}
.menu ul li a.active, .menu > ul > li > a:hover ,
.menu ul li a:hover, .menu ul li.active a {
	color:#FFE400;
        
}
.menu >ul >li:hover:after{
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #E78478;/*#0fa1e0;*/
  margin-left: -10px;
}
.menu ul li ul a {
  z-index: 99;
}
.menu ul li:hover > ul{
   display: block;
}
.menu ul li ul li{
  width: 200px;
  position: relative;
}
.menu ul li ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}

.menu ul li ul li {
  *margin-bottom: -1px;
}
.menu ul li ul li:first-child a {
     border-top: 1px dotted #C0362C;
}
.menu ul li ul li a {
  background: #E78478;/*#0fa1e0;*/
  border-left: 1px dotted #C0362C;
  border-right: 1px dotted #C0362C;
  border-bottom: 1px dotted #C0362C;
  filter: none;
  font-size: 13px;
  display: block;
  line-height: 120%;
  padding: 10px;
}
.menu ul li ul li:hover a {
  background: #C0362C; /*#0c7fb0;*/
}
.menu ul li ul li:hover > ul {
  display: block;
}
/***** slider *****/
.slider-wrapper {
	width:850px;
	height:400px;
	padding:20px 0 0 130px;
	margin-top:-70px;
	position:relative;
	overflow:hidden;
	background:url(../../images/front/slider-bg.png) 0 0 no-repeat;
}
.slider {
	position:relative;
	width:830px;
	height:431px;
}
.items {
	display:none
}
.pagination {
	position:absolute;
	left:30px;
	top:20px;
	z-index:10;
}
.pagination li {
	padding-bottom:1px
}
.pagination li a {
	display:block;
	width:101px;
	height:70px;
	text-decoration:none;
	text-align:center;
	color:#fff;
	background:url(../../images/front/pagination-a.png) left bottom no-repeat;
	position:relative;
	cursor:pointer;
}
.pagination li a:hover,  .pagination li.current a {
	background-position:left top
}
.pagination li a strong {
	display:block;
	width:50px;
	height:50px;
	font-size:30px;
	line-height:50px;
	letter-spacing:-2px;
	position:absolute;
	left:10px;
	top:10px;
}
.pagination .item-1 strong {
	background:url(../../images/front/pagin-1.png) 0 0 no-repeat
}
.pagination .item-2 strong {
	background:url(../../images/front/pagin-2.png) 0 0 no-repeat
}
.pagination .item-3 strong {
	background:url(../../images/front/pagin-3.png) 0 0 no-repeat
}
.pagination .item-4 strong {
	background:url(../../images/front/pagin-4.png) 0 0 no-repeat
}
.banner {
        font-family:Tahoma, Arial, Helvetica, sans-serif;
	width:200px;
/*	height:346px;*/
        height:275px;
	padding:65px 10px 20px 10px;
	color:#fff;
	font-size:13px;
	line-height:25px;
	font-weight:normal;
	text-align:left;
	background:url(../../images/front/banner-bg.png) 0 0 no-repeat;
	/*border-radius:0 22px 22px 0;*/
	position:absolute;
	right:0;
	top:0;
	z-index:10;
}
.banner .close {
	display:block;
	width:13px;
	height:13px;
	text-indent:-9999px;
	background:url(../../images/front/close.gif) 0 0 no-repeat;
	cursor:pointer;
	position:absolute;
	right:20px;
	top:20px;
	z-index:10;
}
.banner strong {
	display:block;
	font-size:16px;
	line-height:1.2em;
	letter-spacing:-2px;
}
.banner span {
	display:block;
        font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom:25px;
}
.banner b {
	display:block;
	font-weight:normal;
}
.button3 {
	display:inline-block;
	font-size:15px;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	padding:0 21px;
	height:36px;
	line-height:34px;
	font-weight:400;
	background:url(../../images/front/button1_bg.gif) top repeat-x;
	letter-spacing:0px
}
.button3.color2 {
	background-image:url(../../images/front/button2_bg.gif)
}
.button3.color3 {
	background-image:url(../../images/front/button3_bg.gif)
}
.button3:hover {
	background:#666;
}


.button2 {
        font-family:Tahoma, Arial, Helvetica, sans-serif;
        font-size:13px;
	display:inline-block;
	line-height:40px;
	padding:0 25px;
	color:#000;
	background:#fff;
}
.button2:hover {
	color:#fff;
	background:#666;
}
footer .button2:hover {
	background:#666
}
/*********************************content*************************************/
#content {
	width:100%;
	padding:0px 0 42px;
	background:url(../../images/front/content-bg.jpg) center -196px repeat-y #f4f5f7;
}
h2 {
        font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:28px;
	line-height:2em;
	font-weight:normal;
	color:#151515;
	text-align:center;
	letter-spacing:-2px;
	margin-top:-13px;
}
h2 strong {
	display:block;
	margin-top:-43px
}
.img-indent-bot h2{
        font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:24px;
	line-height:2em;
	font-weight:normal;
	color:#151515;
	text-align:center;
	letter-spacing:1px;
	margin-top:-13px;
}
h3 {
        color:#2F7FAA;
        font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.5em;
	font-weight:bold;
        margin-bottom:3px;
}
h4{
        color:#2F7FAA;
        font-family:Tahoma, Arial, Helvetica, sans-serif;
        font-size:16px;
        font-weight:normal;
        line-height:1.5em;
        margin-bottom:2px;
}
h6 {
        font-family:Tahoma, Arial, Helvetica, sans-serif;
        font-size:14px;
        font-weight:normal;
        line-height:1.5em;
	color:#2F7FAA;
	margin-bottom:3px;
}
.border-bot1 {
	width:100%;
	padding-bottom:20px;
	background:url(../../images/front/pic-3.gif) 0 bottom repeat-x;
}
.border-bot2 {
	width:100%;
/*	padding-bottom:35px;*/
/*	background:url(../../images/front/pic-2.gif) 0 bottom repeat-x;*/
	border-bottom:1px solid #FFFFFF;
}
.button {
        font-family:Tahoma, Arial, Helvetica, sans-serif;
	display:inline-block;
	padding:0 24px;
	margin-left:2px;
	margin-bottom:2px;
	font-size:13px;
	line-height:38px;
	color:#000;
	border:1px solid #fff;
	background:url(../../images/front/button-tail.gif) 0 0 repeat-x #f2f2f2;
	box-shadow:0 0 2px #bbb;
	cursor:pointer;
}
.button:hover {
	/*background:#60b001;*/
	background:#F9DF1B;
	color:#fff
}
.list-1{
    padding: 10px 0;
    width:210px;
}
.list-1 li {
	line-height:20px;
	padding:10px 0;
	background:url(../../images/front/pic-1.gif) 0 bottom repeat-x;
}
.list-1 li.last-item {
	background:none
}
.list-1 li a {
	color:#808080;
        font-weight: bold;
}
.list-1 li a:hover {
	/*color:#60b001;*/
	color:#F9DF1B;
}
.list-2 li {
	padding:0 0 15px 30px;
	background:url(../../images/front/li_yellow.png) 0 5px no-repeat;
}
.list-2 li a.item {
        font-family:Tahoma, Arial, Helvetica, sans-serif;
	display:inline-block;
	font-size:16px;
        font-weight: normal;
	color:#159FC1;
	margin-bottom:4px;
}
.list-2 li a.item:hover {
	/*color:#60b001;*/
	color:#F9DF1B;
}
.list-2 li span {
	display:block;
	padding-bottom:16px;
	background:url(../../images/front/pic-1.gif) 0 bottom repeat-x;
}
.list-2 .last-item span {
	background:none;
	padding-bottom:25px
}
.list-3 {
	margin-top:-7px
}
.list-3 li {
	line-height:20px;
	padding:10px 0;
	border-bottom:1px dashed #FFFFFF;
	/*background:url(../../images/front/pic-2.gif) 0 bottom repeat-x;*/
}
.list-3 li.last-item {
	border-bottom:none;
}
.list-3 li a {
	display:inline-block;
	padding-left:30px;
	color:#fff;
	background:url(../../images/front/li_yellow.png) 0 3px no-repeat;
}
.list-3 li a:hover {
	color:#FCB549;
}
.list-3 li span {
	color:#808080;
	display:inline-block
}
.list-3 .last-item {
	background:none
}
.list-4 {
        padding-top:10px;
        padding-bottom: 10px;
	padding-left:20px;
}
.list-4 li {
	padding:0 0 10px 30px;
	background:url(../../images/front/list.png) 0 5px no-repeat;
}
.list-4 li a.item {
	display:inline-block;
	font-size:23px;
	line-height:1.217em;
	color:#080808;
	margin-bottom:4px;
}
.list-4 li a.item:hover {
	/*text-decoration*/
}

.link:hover {
	text-decoration:underline
}
dl dt {
	font-weight:bold;
	color:#000;
	margin-bottom:3px
}
dl span {
	float:left;
	width:80px
}
#map_canvas {
	width:260px;
	height:223px;
	overflow:hidden;
}
/***** contact form *****/
#contact-form {
	position:relative;
	vertical-align:top;
	width:100%;
	z-index:1;
}
#contact-form fieldset {
	border:none;
	padding:0;
}
#contact-form label {
	display:block;
	height:50px;
}
#contact-form input[type="submit"],#contact-form input[type="reset"] {
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	display:inline-block;
	padding:10px 20px;
	margin-left:2px;
	margin-bottom:2px;
	font-size:13px;
	color:#000;
	border:1px solid #fff;
	background:url(../../images/front/button-tail.gif) 0 0 repeat-x #f2f2f2;
	box-shadow:0 0 2px #bbb;
	cursor:pointer;
}
#contact-form input[type="submit"]:hover,#contact-form input[type="reset"]:hover {
	/*background:#60b001;*/
	background:#F9DF1B;
	color:#fff
}
#contact-form input[type="text"] {
	width:323px;
	padding:12px 20px;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:1.214em;
	color:#808080;
	border:1px solid #e6e6e6;
	background:#fff;
	outline:none;
}
#contact-form textarea {
	overflow:auto;
	height:130px;
	width:563px;
	padding:12px 20px;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:1.214em;
	color:#808080;
	border:1px solid #e6e6e6;
	background:#fff;
	outline:none;
}

#contact-form .errorMessage{
    color:red;
    padding: 5px;
}
.buttons-wrapper {
        width:600px;
	padding:18px 0 0 0;
	text-align:right
}
.buttons-wrapper a {
	margin-left:15px
}
/****************************footer************************/
footer {
	width:100%;
	padding:25px 0 0 0;
        background:url(../../images/front/bg.png) 0 0 repeat;
}

footer .main {
	width:980px;
        height:150px;
        background:url(../../images/front/footer.png) 0 0 repeat;
/*	padding:10px 0 0 0;*/
	margin:0 auto;
	font-size:0.875em;
	line-height:1.428em;
	min-height: 100px;
        
}


.list-services {
        float:right;
}
.list-services li {
        display:inline;
	line-height:20px;
	padding:0 5px;
	/*background:url(../../images/front/pic-2.gif) 0 bottom repeat-x;*/
	/*border-bottom:1px dashed #FFFFFF;*/
}

.list-services li.last-item {
	background:none;
	border-bottom:none;
}
.list-services li a {
	display:inline-block;
	padding-left:31px;
	color:#ffffff;
	background:url(../../images/front/social-icons.png) 0 0 no-repeat;
}
.list-services li a:hover {
	color:#FCB549;
}
.list-services li a.it-2 {
	background-position:0 -40px
}
.list-services li a.it-3 {
	background-position:0 -80px
}
.list-services li a.it-4 {
	background-position:0 -120px
}
.list-services li a:hover {
	color:#fff
}
.testimonial{
background:url(../../images/front/quotes_top.jpg) no-repeat top left;
padding:0 0 0 20px;
margin:0 0 30px 0;
}
.testimonial_quotes{
background:url(../../images/front/quotes_bottom.jpg) no-repeat bottom right;
padding:0 20px 0 0;
font-style:italic;
}
header{
    overflow: hidden;
    padding-bottom: 10px;
    height: auto;
    background:url(../../images/front/bg.png) 0 0 repeat;
}
header form, header fieldset, header legend{margin:0; padding:0; border:none;}
header legend{display:none;}
header #search{
        margin-top:15px;
        margin-right:5px;
	display:block;
	float:right;
	}

header #lang{
        margin-top:-30px;
        margin-right:5px;
	display:block;
	float:right;
	}
        
header input{
	display:block;
	float:left;
	width:229px;
	margin:0 5px 0 0;
	padding:5px;
	color:#362C20;
	background-color:#FFFFFF;
	border:1px solid #999999;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;

	}

header input#go{
	width:auto;
	height:auto;
	margin:0;
	padding:4px;
	}
header .lang{
float:right;
margin-right:5px;
margin-top:5px;
}
div.breadcrumbs
{
	font-size: 0.9em;
	/*padding: 5px 20px;*/
}
div.breadcrumbs a
{
        text-decoration: none;
}
.pagenav {
  text-align: center;
  font-size: 0.7em;
  padding: 10px 0;

}
ul.pagenav  li{
    display: inline-block;
}
ul.pagenav  li.first.hidden,
ul.pagenav  li.previous.hidden,
ul.pagenav  li.next.hidden,
ul.pagenav  li.last.hidden
{
    display: none;
}
.pagenav a,
.pagenav span {
  color: #fff;
  font-size: 1.3em;
  text-decoration: none;
  background: #A5D5E2;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.pagenav a:hover {
  background: #35AFCE;
}
.tree_menu{
    padding-left: 20px;
}
.tree_menu li {
    padding:0 0 10px 30px;
    background:url(../../images/front/li_yellow.png) 0 5px no-repeat;
}

.tree_menu li.submenu {
    padding:0 0 10px 30px;
    background:url(../../images/front/list.png) 0 5px no-repeat;
}

.tree_menu li.submenu ul li {
   
}
.form-admission div{
    overflow: hidden;
}
.form-admission div.row label{
    width: 150px;
    float: left;
    margin-right: 10px;
    text-align: right;
    
    
}
.form-admission{
    font-size: 13px;
}

.form-admission p.note{
    color:red;
    padding: 0px;
    margin: 3px 0;
}
.form-admission span.required{
    color:red;
}
.form-admission div.row{
    margin: 0 0 5px 0;
}
.form-admission table.tb1 td{
    padding: 3px;
    margin: 3px;
}
.form-admission .errorSummary{
    border: 1px solid rgb(204, 0, 0);
    padding: 7px 7px 12px;
    margin: 0px 0px 20px;
    background: none repeat scroll 0% 0% rgb(255, 238, 238);
    font-size: 0.9em;
}
.form-admission .errorSummary ul li{
    margin-left: 20px;
}
div.form-admission div.error label, div.form-admission label.error, div.form-admission span.error {
    color: rgb(204, 0, 0);
}

div.form-admission  input.error, div.form-admission div.error textarea, div.form-admission div.error select, div.form input.error, div.form-admission textarea.error, div.form-admission select.error {
    background: none repeat scroll 0% 0% rgb(255, 238, 238);
    border-color: rgb(204, 0, 0);
}

div.form-admission .errorMessage {
    color: red;
    font-size: 0.9em;
    text-align: left;
    margin-left: 40px;
}
.date-event {
    width:60px;
    height: 59px;
    background:url(../../images/front/calendar_bg.png) 0 0 no-repeat;
    float: left;
    overflow: hidden;
}
.date-event h3 {
    font-family: Verdana, Geneva, sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    padding: 0px;
    line-height: 1.1em;
    text-align: center;
    
}
.date-event h5 {
    font-family: Verdana, Geneva, sans-serif;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: normal;
    padding: 0;
    margin-top: 10px;
    text-align: center;
}

.date-detile {
    padding: 0;
    margin-top: 0;
    margin-left: 70px;
    font-size: 0.85em;
    height: 70px;

}
ul .footer-list li{
    float:left;
}
.footer-list li a {
        float:left;
	padding-left:25px;
        padding-right:30px;
	color:#fff;
	background:url(../../images/front/li_yellow.png) 0 3px no-repeat;
}
.footer-list li a:hover {
	color:#FCB549;
}

.confirmation{
    	padding:.8em;
	margin-bottom:1em;
	border:2px solid #C6D880;        
        background:#E6EFC2;
	color:#264409;
}

img.border-banner{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}